<!DOCTYPE html>

{% load bootstrap3 %}
{% load staticfiles %}
{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<html><head>
<link rel="stylesheet" href="{% static "css/style.css" %}">
</head></html>
<body>
  <h1>Here are your access records:</h1>
  <h2>Green</h2>
    {% if access_records %}
      <table>
        <tr>
          <th>Site name</th>
          <th>Date Accessed</th>
        </tr>
        {% for acc in access_records %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>no access record</p>
    {% endif %}
</body>
